START -> UP UP [0.25]
START -> DOWN DOWN [0.25]
START -> LEFT LEFT [0.25]
START -> RIGHT RIGHT [0.25]
UP -> UP UP [0.8]
UP -> up [0.2]
DOWN -> DOWN DOWN [0.8]
DOWN -> down [0.2]
LEFT -> LEFT LEFT [0.8]
LEFT -> left [0.2]
RIGHT -> RIGHT RIGHT [0.8]
RIGHT -> right [0.2]
up -> [0.0, 1] [0.1 0.0; 0.0 0.1]
down -> [0.0, -1] [0.1 0.0; 0.0 0.1]
right -> [-1, 0.0] [0.1 0.0; 0.0 0.1]
left -> [1, 0.0] [0.1 0.0; 0.0 0.1]